/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

::after,
::before {
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    line-height: 1.4em;
    color: #767676;
    background-color: #FFF;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@-ms-viewport {
    width: device-width;
}



article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}


svg {
    overflow: hidden;
    vertical-align: middle;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

form {
    display: block;
    margin-top: 0em;
}

.wrap {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    padding: .5rem 1rem;
}

.navbar img.logo-img {
    height: 50px;
    width: auto;
    display: flex;
    float: left;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.bg-dark {
    background: var(--dark);
}

.nav .navbar-nav .title {
    margin-right: auto;
}

.navbar-nav .nav-item .nav-link {
    color: var(--white);
}


.navbar-nav .nav-item .nav-link:hover {
    color: #ffffffbf;
    text-decoration: none;
}

.navbar .navbar-nav .title,
.navbar .navbar-nav .ul,
.navbar .navbar-nav .li {
    display: inline-block;
    margin-right: 3rem;
}

input,
textarea,
select,
button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
}

form {
    display: block;
    margin-top: 0em;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.birthday th, .birthday td {
    border: 1px solid #000;
}

.birthday td {
    padding: 10px;
}

/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/

.form-test .form input[type="text"],
.form-test .form input[type="password"],
.form-test .form input[type="email"],
.form-test .form input[type="url"],
.form-test .form input[type="date"],
.form-test .form input[type="month"],
.form-test .form input[type="time"],
.form-test .form input[type="datetime"],
.form-test .form input[type="datetime-local"],
.form-test .form input[type="week"],
.form-test .form input[type="number"],
.form-test .form input[type="search"],
.form-test .form input[type="tel"],
.form-test .form input[type="color"],
.form-test .form select,
.form-test .form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form-test .form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.form-test .form input[type="color"] {
    padding: 0.2em 0.5em;
}


.form-test .form input[type="text"]:focus,
.form-test .form input[type="password"]:focus,
.form-test .form input[type="email"]:focus,
.form-test .form input[type="url"]:focus,
.form-test .form input[type="date"]:focus,
.form-test .form input[type="month"]:focus,
.form-test .form input[type="time"]:focus,
.form-test .form input[type="datetime"]:focus,
.form-test .form input[type="datetime-local"]:focus,
.form-test .form input[type="week"]:focus,
.form-test .form input[type="number"]:focus,
.form-test .form input[type="search"]:focus,
.form-test .form input[type="tel"]:focus,
.form-test .form input[type="color"]:focus,
.form-test .form select:focus,
.form-test .form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form-test .form input:not([type]):focus {
    outline: 0;
    border-color: #129FEA;
}

.form-test .form input[type="file"]:focus,
.form-test .form input[type="radio"]:focus,
.form-test .form input[type="checkbox"]:focus {
    outline: thin solid #129FEA;
    outline: 1px auto #129FEA;
}
.form-test .form .pure-checkbox,
.form-test .form .pure-radio {
    margin: 0.5em 0;
    display: block;
}

.form-test .form input[type="text"][disabled],
.form-test .form input[type="password"][disabled],
.form-test .form input[type="email"][disabled],
.form-test .form input[type="url"][disabled],
.form-test .form input[type="date"][disabled],
.form-test .form input[type="month"][disabled],
.form-test .form input[type="time"][disabled],
.form-test .form input[type="datetime"][disabled],
.form-test .form input[type="datetime-local"][disabled],
.form-test .form input[type="week"][disabled],
.form-test .form input[type="number"][disabled],
.form-test .form input[type="search"][disabled],
.form-test .form input[type="tel"][disabled],
.form-test .form input[type="color"][disabled],
.form-test .form select[disabled],
.form-test .form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form-test .form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}
.form-test .form input[readonly],
.form-test .form select[readonly],
.form-test .form textarea[readonly] {
    background-color: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

.form-test .form input:focus:invalid,
.form-test .form textarea:focus:invalid,
.form-test .form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}
.form-test .form input[type="file"]:focus:invalid:focus,
.form-test .form input[type="radio"]:focus:invalid:focus,
.form-test .form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
.form-test .form select {
    /* Normalizes the height; padding is not sufficient. */
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}
.form-test .form select[multiple] {
    height: auto;
}
.form-test .form label {
    margin: 0.5em 0 0.2em;
}
.form-test .form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.form-test .form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

/* Grouped Inputs */
.form-test .form .form-group fieldset {
    margin-bottom: 10px;
}
.form-test .form .form-group input,
.form-test .form .form-group textarea {
    display: block;
    padding: 10px;
    margin: 0 0 -1px;
    border-radius: 0;
    position: relative;
    top: -1px;
}
.form-test .form .form-group input:focus,
.form-test .form .form-group textarea:focus {
    z-index: 3;
}
.form-test .form .form-group input:first-child,
.form-test .form .form-group textarea:first-child {
    top: 1px;
    border-radius: 4px 4px 0 0;
    margin: 0;
}
.form-test .form .form-group input:first-child:last-child,
.form-test .form .form-group textarea:first-child:last-child {
    top: 1px;
    border-radius: 4px;
    margin: 0;
}
.form-test .form .form-group input:last-child,
.form-test .form .form-group textarea:last-child {
    top: -2px;
    border-radius: 0 0 4px 4px;
    margin: 0;
}
.form-test .form .form-group button {
    margin: 0.35em 0;
}

.form-test .form .input-1 {
    width: 100%;
}
.form-test .form .input-3-4 {
    width: 75%;
}
.form-test .form .input-2-3 {
    width: 66%;
}
.form-test .form .input-1-2 {
    width: 50%;
}
.form-test .form .input-1-3 {
    width: 33%;
}
.form-test .form .input-1-4 {
    width: 25%;
}

/* Inline help for forms */
/* NOTE: form-help-inline is deprecated. Use .form-test .form-message-inline instead. */
.form-test .form .form-help-inline,
.form-test .form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #666;
    vertical-align: middle;
    font-size: 0.875em;
}

/* Block help for forms */
.form-test .form-message {
    display: block;
    color: #666;
    font-size: 0.875em;
}

@media only screen and (max-width : 480px) {
    .form-test .form button[type="submit"] {
        margin: 0.7em 0 0;
    }

    .form-test .form input:not([type]),
    .form-test .form input[type="text"],
    .form-test .form input[type="password"],
    .form-test .form input[type="email"],
    .form-test .form input[type="url"],
    .form-test .form input[type="date"],
    .form-test .form input[type="month"],
    .form-test .form input[type="time"],
    .form-test .form input[type="datetime"],
    .form-test .form input[type="datetime-local"],
    .form-test .form input[type="week"],
    .form-test .form input[type="number"],
    .form-test .form input[type="search"],
    .form-test .form input[type="tel"],
    .form-test .form input[type="color"],
    .form-test .form label {
        margin-bottom: 0.3em;
        display: block;
    }

    .form-group input:not([type]),
    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group input[type="email"],
    .form-group input[type="url"],
    .form-group input[type="date"],
    .form-group input[type="month"],
    .form-group input[type="time"],
    .form-group input[type="datetime"],
    .form-group input[type="datetime-local"],
    .form-group input[type="week"],
    .form-group input[type="number"],
    .form-group input[type="search"],
    .form-group input[type="tel"],
    .form-group input[type="color"] {
        margin-bottom: 0;
    }

    /* NOTE: form-help-inline is deprecated. Use .form-test .form-message-inline instead. */
    .form-test .form .form-help-inline,
    .form-test .form-message-inline,
    .form-test .form-message {
        display: block;
        font-size: 0.75em;
        /* Increased bottom padding to make it group with its related input element. */
        padding: 0.2em 0 0.8em;
    }
}

.form-email, .form-name, .form-gender, .form-birthday, .form-hobbies, .form-message {
    padding-top: 10px;
}

.form-message textarea {
    width: 600px;
    height: 300px;
}

/* custom button */
.button-btn {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.button-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.button-btn {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.button-btn-hover,
.button-btn:hover,
.button-btn:focus {
    /* csslint ignore:start */
    filter: alpha(opacity=90);
    /* csslint ignore:end */
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.button-btn:focus {
    outline: 0;
}
.button-btn-active,
.button-btn:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000;
}

.button-btn[disabled],
.button-btn-disabled,
.button-btn-disabled:hover,
.button-btn-disabled:focus,
.button-btn-disabled:active {
    border: none;
    background-image: none;
    /* csslint ignore:start */
    filter: alpha(opacity=40);
    /* csslint ignore:end */
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.button-btn-hidden {
    display: none;
}

.button-btn-primary,
.button-btn-selected,
a.button-btn-primary,
a.button-btn-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

/* Button Groups */
.button-btn-group .button-btn {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid #111;  /* fallback color for rgba() for IE7/8 */
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.button-btn-group .button-btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.button-btn-group .button-btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}

/* Pure.css Button */
.button-btn.button-success,
.button-btn.button-error,
.button-btn.button-warning,
.button-btn.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-btn.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-btn.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-btn.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-btn.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.content {
    padding: 20px 10px;
}

.box-area {
    width: 600px;
    height: 400px;
}

.box-area1 {
    width: 600px;
    height: 800px;
}

.box-area2 {
    width: 400px;
    height: 400px;
}

.box-area3 {
    width: 1000px;
    height: 800px; 
}

.gradient-color1 {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.gradient-color2 {
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-color3 {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.gradient-color4 {
    background: #fffc00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.content.border-radius .box-area {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: #000;
    border-radius: 50%;
    border: 10px solid  #ff0000;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.content.gradient .box-area {
    background-image: linear-gradient(#00644b, #009771);
}

.content.shadow .box-area {
    background: yellow;
    box-shadow: 10px 10px 5px grey;
}
.content.get-random {
    border: 1px solid #17a2b8;
}

#footer {
    font-size: 87.5%;
    border-top: 1px solid #eee;
    margin-top: 3.4286em;
    padding: 1.1429em;
    background: rgb(250, 250, 250);
}